body {
	margin: 0;
	padding: 0;

	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #323232;

	background-color: #849d8f;
}

a {
	color: #fff;
	text-decoration: none;
}

.link {
	color: #fff;
}

.link:hover,
.link:active {
	color: #ffbc9e;
}

.link:hover::after,
.link:active::after {
	background-color: rgba(255, 188, 158, 0.3);
}

.btn {
	display: inline-block;
	box-sizing: border-box;
	min-height: 45px;
	padding: 10px 23px;

	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	color: #fff;
	vertical-align: top;

	background: linear-gradient( 90deg, #e74a35 0%, #f26843 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	border-radius: 22px;
	border: none;
	outline: none;
}

.btn:hover {
	background-image: linear-gradient(#f58669,#ec6f5e);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.btn:active {
	background-image: linear-gradient(#e74a35,#f26843);
	box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}

.breadcrumbs.display {
	display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
	width: 1146px;
	padding: 0 27px;
	margin: 0 auto;
}

.main-header {
	display: flex;
	flex-direction: column;
}

.header-row {
	display: flex;
}

.header-nav {
	display: flex;
	min-height: 73px;
	align-items: center;
}

.logo {
	margin-right: 10px;

	align-self: flex-end;
}

.logo img {
	width: 154px;
	height: 64px;

	vertical-align: bottom;
}

.main-nav {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.main-nav a {
	padding: 8px 13px;
	display: inline-block;

	font-size: 16px;
	line-height: 18px;

	border-radius: 15px;
}

.main-nav a.active {
	background-color: #d07058;
}

.main-nav a.active::after {
	background-color: #d07058;
}

.main-nav a:hover {
	color: #333333;

	background-color: #f7f6f3;
	border-radius: 15px;
}

.main-nav a:active {
	background-color: #f7f6f3;
	box-shadow: inset 0px 2px 1px 0px #696969;
}

.main-nav a::after {
	content: "";
	display: block;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}

.main-nav a:hover::after {
	background-color: transparent;
}

.user-menu {
	display: flex;
	margin-left: auto;
	min-height: 73px;
	align-items: center;
}

.user-menu section {
	margin-left: 10px;
}

.user-menu_search > a,
.user-menu_personal-area > a,
.user-menu_basket > a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.user-menu_search > a {
	z-index: 200;
	position: relative;

	display: block;
	width: 32px;
	height: 32px;

	font-size: 0;

	background-color: rgba(255, 255, 255, 0.2);

	border-radius: 50%;
}

.user-menu_search > a::after {
	position: absolute;
	top: 7px;
	left: 7px;

	content: "";
	display: block;
	width: 17px;
	height: 17px;

	background: url(../img/lens.svg) no-repeat;
}

.user-menu_search > a:hover {
	background-color: #f8f7f4;
}

.user-menu_search > a:hover::after {
	background: url(../img/lens-black.svg) no-repeat;
}

.user-menu_personal-area > a,
.user-menu_basket > a {
	position: relative;

	display: block;
	box-sizing: border-box;
	width: 92px;
	height: 32px;
	padding-left: 44px;
	padding-top: 7px;

	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
}

.user-menu_basket > a {
	width: 117px;
}

.user-menu_personal-area > a::before {
	position: absolute;
	left: 16px;
	top: 6px;

	width: 21px;
	height: 19px;

	content: "";

	background: url(../img/login.svg) no-repeat;
}

.user-menu_personal-area > a:hover {
	color: #323232;

	background-color: #f8f7f4;
}

.user-menu_personal-area > a:hover::before {
	background: url(../img/login-black.svg) no-repeat;
}

.user-menu_basket > a::before {
	position: absolute;
	left: 16px;
	top: 6px;

	width: 21px;
	height: 20px;

	content: "";

	background: url(../img/basket.svg) no-repeat;
}

.user-menu_basket .basket-full {
	color: #323232;

	background-color: #f7f6f3;
}

.user-menu_basket .basket-full::before {
	background: url(../img/basket-red.svg) no-repeat;
}

.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	align-self: flex-end;

	font-size: 14px;
	line-height: 16px;

	list-style: none;
}

.breadcrumbs li {
	position: relative;

	margin-right: 6px;
	padding-right: 15px;
}

.breadcrumbs li::after {
	content: "»";
    position: absolute;
    top: 0;
    right: 1px;
    
    color: #fff;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.breadcrumbs li:last-child a::after {
	height: 0;
}

.breadcrumbs a::after {
	content: "";
	display: block;
	height: 1px;
	background-color: #a5bbaf;
}

.header-info {
	align-self: flex-start;
	margin-left: auto;
	width: 170px;

	text-align: right;
}

.header-info p {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #ffffff;
}

.header-info .phone {
	margin-top: 3px;

	font-size: 22px;
	line-height: 24px;
}

.color-wrap {
	min-height: 100vh;
	
	margin: 0 auto;

	background-color: #849d8f;
	background-image: url(../img/slide-1.png);
	background-repeat: no-repeat;
	background-position: top center;
}

.main-slider {
	position: relative;
	padding-top: 275px;
	margin-bottom: 40px;

	text-align: center;
}

.slide h3 {
	padding: 0;
	width: 700px;
	margin: 0 auto;
	margin-bottom: 32px;

	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
}

.slide .btn {
	box-sizing: border-box;
	height: 63px;
	padding: 7px 40px;
	display: inline-block;

	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	font-size: 32px;
	line-height: 44px;
	vertical-align: top;

	border-radius: 50px;
}

.slide .btn:hover {
	background-image: linear-gradient(#f58669,#ec6f5e);
	box-shadow: 0px 2px 2px 0px rgb(172, 16, 0);
}

.slide .btn:active {
	background-image: linear-gradient(#e74a35,#f26843);
	box-shadow: inset 0px 2px 2px 0px rgb(148, 39, 24);
}


.main-slider_toggle {
	position: absolute;
	bottom: 19px;
	left: 0;
	
	font-size: 0;
}

.main-slider_toggle .toggle {
	box-sizing: border-box;
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 8px;

	border: 2px solid #fff;
	border-radius: 50%;

	cursor: pointer;
}

.main-slider_toggle .toggle:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.main-slider_toggle .toggle.checked {
	background-color: #fff;
}

.slide-2,
.slide-3 {
	display: none;
}

.action-wrap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.actions {
	position: relative;

	box-sizing: border-box;
	width: 560px;
	min-height: 230px;
	padding: 15px 18px;

	border-radius: 15px;
}

.actions h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 16px;

	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
	color: #fff;
}

.actions p {
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
}

.actions .btn {
	position: absolute;
	bottom: 24px;
	right: 20px;
}

.action-raspberry {
	background: #cb244b url(../img/raspberry-bg.jpg) no-repeat;
	background-position: 22% 51.5%;
}

.action-chocolate {
	background: #59372b url(../img/chocolate-bg.jpg) no-repeat;
	background-position: 22% 51.5%;
}

.main-hits {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	list-style: none;
}

.hits-item {
	width: 267px;
	margin-right: 26px;
}

.hits-item:nth-child(4) {
	margin-right: 0;
}

.main-hits {
	color: #fff;
}

.hits {
	position: relative;

	margin-bottom: 40px;

	text-align: center;
	z-index: 10;
}

.hits::before {
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	border-radius: 50%;

	background: #fff url(../img/hit.svg) no-repeat;
}

.hits:hover::after {
	content: "";
	position: absolute;
	top: -8px;
	left: -12.5px;

	width: 292px;
	height: calc(100% + 90px);
	background-color: rgba(255,255,255, 0.2);
	border-radius: 5px;

	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

	z-index: -5;
}

.hits:hover {
	z-index: 20;
}

.hits img {
	width: 267px;
	height: 267px;
	margin-bottom: 8px;

	border-radius: 50%;
}

.hits .price {
	position: absolute;
	top: 210px;
	left: 0;

	font-size: 30px;
	font-weight: bold;

	text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}


.price span {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.hits h2 {
	margin: 0;
	padding: 0;
	display: inline;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	
	border-bottom: 1px solid rgba(255,255,255, 0.2);
}

.hits:hover .hover-btn {
	display: block;
} 

.hover-btn {
	position: absolute;
	bottom: -60px;
	left: 50%;
	margin-left: -100px;
	display: none;

	box-sizing: border-box;
	width: 200px;
	height: 45px;
	padding: 0;
	padding-top: 10px;
}

.advantages {
	padding: 25px 20px;
	margin-bottom: 40px;

	background: #ede2c8 url(../img/wafel-pattern.jpg) repeat;

	border-radius: 15px;
}

.advantages b {
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style: none;
	margin: 0;
	padding: 0;
}

.advantages-item {
	position: relative;

	box-sizing: border-box;
	width: 540px;
	padding-left: 57px;
	padding-top: 20px;
}

.advantages-item::before {
	content: "";
	position: absolute;
	top: 8px;
	left: 0;

	width: 49px;
	height: 49px;
}

.before-icon1::before {
	background: url(../img/icecream.svg) no-repeat;
}

.before-icon2::before {
	background: url(../img/cow.svg) no-repeat;
}

.before-icon3::before {
	background: url(../img/leaf.svg) no-repeat;
}

.before-icon4::before {
	background: url(../img/term.svg) no-repeat;
}

.wrap-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 40px;
}

.blog-news,
.subscription-box {
	box-sizing: border-box;
	width: 560px;
	min-height: 220px;
	background-color: #fff;
	color: #323232;
	border-radius: 15px;
}

.blog-news {
	padding: 25px 20px;

	background: #fff url(../img/strawberrybg.jpg) no-repeat -50px -225px;
}

.blog-news b {
	display:block;
	font-weight: 500;
}

.blog-news a {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: underline;
}

.subscription-box {
	background: #fff url(../img/mail-bg.jpg);
	padding: 5px;
	display: flex;
}

.subscription-box-wrap {
	background-color: #f8f7f4;
	padding: 30px 20px 10px;

	border-radius: 15px;
}

.subscription-box p {
	margin: 0;
	margin-bottom: 35px;
}

.subscription-form input{
	box-sizing: border-box;
	padding: 10px 15px 14px;
	width: 368px;
	margin-right: 10px;

	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.subscription-form button{
	width: 125px;
	padding: 0;
	text-align: center;
}

.subscription-form input::placeholder {
	color: #999999;
	font-size: 16px;
	line-height: 24px;
}

.map {
	width: 100%;
	height: 430px;
}

.map img {
	margin: 0;
	padding: 0;
	margin-left: -27px;
	width: 1200px;
	height: 430px;

	z-index: 0;
}
.map>.container {
	position: relative;
}

.site-contacts {
	position: absolute;
	right: 27px;
	top: 63px;

	box-sizing: border-box;
	padding: 27px 25px;

	min-height: 305px;
	width: 300px;

	background: #fff;
	border-radius: 15px;
	z-index: 10;
}

.site-contacts p {
	margin: 0;
	margin-bottom: 20px;

	font-size: 14px;
	line-height: 20px;
}

.site-contacts span {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.site-contacts .btn {
	margin-top: 8px;
	width: 100%;
}

.main-footer {
	margin-top: 18px;
	min-height: 85px;
}

.main-footer > .container {
	display: flex;
	justify-content: space-between;
}

.socials,
.mfr {
	width: 267px;
}

.socials {
	display: flex;
	flex-wrap: wrap;
}

.main-info {
	width: 560px;
}

.socials a {
	display: block;
	width: 32px;
	height: 32px;
	margin-top: 12px;
	margin-right: 11px;

	font-size: 0;

	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);

	opacity: 0.8;
}

.socials a:hover {
	border: 3px solid rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.socials a:active {
	border: 3px solid rgba(255, 255, 255, 0.7);
	opacity: 0.9;
}

.socials .tw {
	background: url(../img/tw.svg) no-repeat;
}

.socials .ins {
	background: url(../img/ins.svg) no-repeat;
}

.socials .fb {
	background: url(../img/fb.svg) no-repeat;
}

.socials .vk {
	background: url(../img/vk.svg) no-repeat;
}

.infolinks-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	margin-top: 6px;
	padding: 0;
	padding-left: 130px;
	padding-right: 25px;
	list-style: none;
}

.infolinks-list li {
	margin-left: 0px;
	width: 140px;
}

.infolinks-list li:nth-child(2n) {
	flex-grow: 1;
}

.infolinks-list a {
	position: relative;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
}

.infolinks-list a::after {
	content: "";
	display: block;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
}

.infolinks-list .heart {
	font-weight: bold;
}

.infolinks-list .heart::before {
	content: "";
	position: absolute;
	left: -23px;
	top: 4px;
	width: 15px;
	height: 13px;
	background: url(../img/heart.svg) no-repeat;
}

.mfr {
	display: flex;
	flex-direction: column;

	font-size: 12px;
	line-height: 18px;
	color: #fefefe;
}

.htmlacademy-logo {
	align-self: center;
}

.mfr-description {
	margin: 0;
	margin-left: auto;
}

.htmlacademy-link {
	display: inline-block;
}

.htmlacademy-link::after {
	content: "";
	display: block;
	height: 1px;
	background-color: rgba(255,255,255, 0.2);
}

